// VARIABLES ========================================================================= //
$green: #576658;
$lt-green: lighten($green, 25%);
$drk-red: #3F2427;
$mauve: #AF737B;
$lt-mauve: lighten($mauve, 35%);

// MIXINS ============================================================================ //

@mixin prefix($prop, $val) {
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  -o-#{$prop}: $val;
  #{$prop}: $val;
}

%ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin button($color: $green) {
  @include prefix(border-radius, 8px);
  background: $color;
  border: none;
  border-bottom: 4px solid darken($color, 10%);
  color: #FFF;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
  text-transform: uppercase;
  &:hover {
    background: darken($color, 5%);
    border-bottom-color: darken($color, 15%);
  }
  &:active {
    background: lighten($color, 5%);
    border-top: 4px solid darken($color, 5%);
    border-bottom: 0;
  }
}

@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 480px) { @content; }
  }
}